<div class="container p-3">
  <h1><%= @restaurant.name %><h1>

  <h4>Category:</h4>
  <p><%= @restaurant.category %></p>

  <br>
<!--   <h4>Address:</h4>
  <p><%= @restaurant.address %></p>
  <br>
  <h4>Contact:</h4>
  <p><%= @restaurant.phone_number %></p> -->

</div>
